@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .section-list > * {
    @apply border-b border-lightgray pb-5 mb-5;
  }
  .section-list > *:last-child {
    @apply border-none m-0 pb-0;
  }
}

@layer components {
}
